body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
    
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    border-radius: 20px;
}
.container{
        
        margin: 10px auto;
        width: 500px;
        height: 500px;
        
        font-family: san-serif;
        text-align: center;
        border-radius: 50px;
        color: red;
}